:root {
    --iris:#4D5AE5;
    --ocean:#404BBF;
    --navy-blue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:#2E2F42;
    --grey:#2E2F42;
    --white:#FFFFFF;
    --dairy:#FCFCFC;

}

/* Цвет текста на все тело */
body {
    background-color: var(--white);
    color: var(--slate);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

/* Убираем точки возле текста */
.list {
    list-style: none;
}

/* Логотип */
.logo {
    color: var(--navy-blue);

    font-family: Raleway;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    
}

.logo .accent {
    color: var(--iris);
}

/* Стилизирование кнопок */
.site-nav .link{
    color: var(--navy-blue);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--ocean);
}

.site-nav .link.current {
    color: var(--ocean);
}

/* Контактная информация */
.contact-info-link {
    color: var(--navy-blue);
    text-decoration: none;
}

.contact-info-link:hover,
.contact-info-link:focus,
.contact-info-link:active{
    color:var(--ocean);
}

/* Главная секция страницы */

.hero {
    background: var(--navy-blue)
}

.hero-title {
    color: var(--white);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    
}

.hero .button {
    background-color: var(--iris);
    color: var(--white);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus,
.hero .button:active {
    background-color: var(--ocean);
    color: var(--white);

}

/* Стилизация всех главных заголовков */
.section-title {
    color: var(--navy-blue);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

/* Features */
.features .title{
    color: var(--navy-bluel);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


/* Team-list */
.team-list .title 
.work-list .title {
    color: var(--navy-blue);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.team {
    background-color: var(--cloud);
}


/* Portfolio */

/* Button Portfolio */
.filter-btn {
    border-color: var(--cornflower);
    background-color: var(--cloud);
    color: var(--iris);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    border-color: var(--ocean);
    background-color: var(--ocean);
    color: var(--white);

}

